html, body, footer {
	margin: 0;
  height: 100%;
	padding: 0;
}

#container {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
  
}

@media screen and (min-width: 600px) {
  #container {
      flex-direction: row;
    }

  }

  @media screen and (max-width: 600px) {

    .column.left {
      height:50vh;
      position: fixed;
      width:100%;
    }

    .column.right {
      margin-top:50vh;
      position: relative;
      z-index: 10;

    }
  }

.column {
  flex: 1;
}
  
.column.right {
    order: 2;
    background:white;
    padding:20px;
  }
  
.column.left {
    order: 1;
    /*background:blue;*/
  }

  .btn {
    display: inline;
    position: relative;
    padding: 8px 6px;
    margin:10px 0px;
    background:black;
    color:white;
    float:left;
    clear:left;
  }

  .btn:hover {
    background:#979797 !important;
    color:white;
    cursor: pointer;
  }